    
.header_search{
    width: 52%;
    padding-left: 28px;
    display: flex;
    input{
        flex: 1;
        height: 40px;
        background-color: white;
        font-size: 16px;
        border: none;
        padding: 12px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        outline: none;
        font-style: italic;
        
    }
    button{
        height: 40px;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
        border: none;
        background-color: white;
        color:rgb(85, 116, 38);
        font-size: 24px;
        padding:  6px 12px;
        &:hover{
            cursor: pointer;
            
        }
    }
   
}
