
.app{
    width: 100%;
    background-color:#fff3f3;
}
.wrapper{
    margin: 0 auto;
}
.site_header{
    padding-left: 70px;
    padding-right: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('https://assets.comem.vn/images/background-header-top-comem.jpg');
}
.header_logo:hover{
    cursor: pointer;

}
.header_custom{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header_custom:hover{
    cursor: pointer;
}
.home{
    text-transform:uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 150px;
    font-weight: 600;
    font-size: 1rem;
}
.icon_home,.icon_admin, .icon_heart, .icon_cart {
    padding-right: 14px;
    color: white;
    font-size: 32px;

  }

.header_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 140px;
    background: #626c13;
    height: 42px;    
}

.header_item1{
    width: 70%;
}
.header_item1:hover{
    cursor: pointer;
}
.header_item1_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.header_item2{
    cursor: pointer;
}
.header_item2_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    color:white;
    list-style: none;
    font-size: 1.2rem;
    line-height: 42px;
}
.header_item2{
    width: 20%;
}
.banner_img{
   
}

.img_1{
    width: 100%;
}
.icon_admin{
    display: flex;
}
.name{
    padding-top: 5px;
    font-size: 1.2rem;
    padding-left: 5px;
}