
.app{
    width: 100%;
    background-color:#fff3f3;
}
.wrapper{
    margin: 0 auto;
}
.site_header{
    padding-left: 70px;
    padding-right: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('https://assets.comem.vn/images/background-header-top-comem.jpg');
}
.header_logo:hover{
    cursor: pointer;

}
.header_custom{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header_custom:hover{
    cursor: pointer;
}
.home{
    text-transform:uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.icon_home,.icon_admin, .icon_heart, .icon_cart, .icon_ship {
    padding-right: 14px;
    color: white;
    font-size: 28px;

  }
.icon_cart{
    position: relative;

    .icon_count{
    background-color: rgba(230,126,34,.8);
    border: 1px solid #738136;
    border-radius: 100px;
    color: #fff;
    font-size: 13px;
    line-height: 1em;
    padding: 3px 7px;
    position: absolute;
    right: 12px;
    top: -15px;
    transform: translate3d(40%,40%,0);
    }
}

.header_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 140px;
    background: #626c13;
    height: 42px;    
}

.header_item1{
    width: 70%;
}
.header_item1:hover{
    cursor: pointer;
}
.header_item1_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.header_item2{
    cursor: pointer;
}
.header_item2_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    color:white;
    list-style: none;
    font-size: 1.2rem;
    line-height: 42px;
}
.header_item2{
    width: 20%;
}
.banner_img{
   
}

.img_1{
    width: 100%;
}
.container{
    height: 80px;
    padding-left: 100px;
    padding-right: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #92a052;
}
.sub_container{
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed rgb(97, 111, 67);
}
.sub_container:last-child{
    border: none;
}

.item_text h3{
    color: #ffcc48;
    margin-bottom: 5px;
}
.item_text p{
    color: white;
}