.box_search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: greenyellow;
    padding: 24px;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 100px;
    // display: none;
    .wrapper{
        width: 46%;
        background-color: #fff;
        border-radius: 15px;
        padding: 8px;
        .list_product{
            padding: 5px;
            max-height: 300px; /* Đặt chiều cao của container để tạo scroll y */
            overflow-y: scroll; 
        }
    
    }
}
.product{
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #fff;
    .img{
        width: 75px;
        height: 75px;
        border: 1px solid rgba(62,104,7,.2);
        border-radius: 5px;
        margin-right: 24px;
    }
    p{
        font-size: 1rem;
        padding-bottom: 6px;
    }
    span{
        font-size: 1rem;
    }
    .old_price{
        text-decoration: line-through;
        margin-right: 24px;
    }
}
.empty{
    padding: 24px;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
   
}